# dependencies
node_modules/
**/node_modules/

# env / secrets
.env
.env.*
!.env.example

# logs & caches
*.log
.cache/
.eslintcache
*.tsbuildinfo
.DS_Store

# tooling
.vercel
.turbo

# build output
dist/
**/dist/
